Source: kanaloa-dev
Section: web
Priority: extra
Maintainer: Steve <steve@schwink.net>
Build-Depends: debhelper, devscripts
Standards-Version: 3.8.1
Homepage:

Package: kanaloa-dev
Architecture: any
Depends: build-essential, debhelper, devscripts, erlang-dev, erlang-nox, erlang-manpages, erlang-tools, fakeroot, jsdoc-toolkit, nginx, python-setuptools, kanaloa, kanaloa-client-web
Suggests: emacs23-nox, erlang-mode
Description: Metapackage for setting up a kanaloa development machine.
