Source: kanaloa-dev-service
Section: web
Priority: extra
Maintainer: Steve <steve@schwink.net>
Build-Depends: debhelper, devscripts
Standards-Version: 3.8.1
Homepage:

Package: kanaloa-dev-service
Architecture: any
Depends: ${misc:Depends}, nginx, kanaloa, kanaloa-client-web
Suggests: 
Description: Sets up a sample application, useful for testing kanaloa. The kanaloa integration tests depend on this service.
