Source: kanaloa
Section: web
Priority: extra
Maintainer: Steve <steve@schwink.net>
Build-Depends: debhelper (>= 7), devscripts
Standards-Version: 3.8.1
Homepage:

Package: kanaloa
Architecture: any
Depends: ${misc:Depends}, erlang-nox, mochiweb, uuid
Suggests: kanaloa-dev, kanaloa-dev-service
Description: The Kanaloa web streaming framework.
